<?xml version="1.0" encoding="utf-8"?>
<Configuration>

    <Option DefaultDownloadOverride="False" /> <!-- Determines if the default download folder is used or if an alternative path is chosen-->

    <FolderToWatch Path="C:\users\powerofshells\downloads" /> <!-- path to alternative folder, is not used if DefaultDownloadOverride is false -->
    <FolderToWatch Filter="*.*" /> <!-- *.* watches everything -->
    <FolderToWatch IncludeSubDirs="True" /> <!--recursive monitoring enabled or disabled -->

    <!--  if more than one folder needs to be watched, just append the same 3 lines as needed from above: path, folder and includesubdirs, e.g.: -->
    <!--
        <FolderToWatch Path="C:\users\powerofshells\another_download_folder" /> 
        <FolderToWatch Filter="*.*" /> 
        <FolderToWatch IncludeSubDirs="True" />
    -->
</Configuration>